<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Patient Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/static/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <style>
     .button_slide {
  height: 20px;
  text-align: center;
  
}


    .vl {
      border-left: 6px green;
      height: 50px;
    }
  </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="doctor_home" class="one">
              <i class="fas fa-home" style="color: black;"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="incoming_requests" class="one">
              <i class="far fa-comment-alt" style="color: black;"></i>
              <p>Incoming Requests</p>
            </a>
          </li>
          <li>
            <a href="confirmed_requests">
              <i class="far fa-check-square" style="color: black;"></i>
              <p>Confirmed Requests</p>
            </a>
          </li>
          <li>
            <a href="logout_doctor">
              <i class="fas fa-sign-out-alt" style="color: black;"></i>

              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;" style="font-size: 30px; margin-top: 10px;">Patient Dashboard</a>
          </div>

        </div>
      </nav>
      <br>
      <!-- End Navbar -->
      
      <div class="content">
        <div class="row">
          <div class="col-md-12" >
            <div class="card card-user">
              <div class="image">
                <img src="/static/damir-bosnjak.jpg" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  
                    <img class="avatar border-gray" src="/static/mike.jpg" alt="...">
                    <h5 class="title">{{Patient_list[0][0]}}</h5>
                 
                  <p class="description">
                    {{Patient_list[0][1]}}
                  </p>
                </div>
                <p class="description text-center">
                 <b>  Description :  </b> <br>
                  {{Patient_list[0][7]}}
                </p>
              </div>
            </div>
          </div>
        </div>


<div class="content">
  <div class="row">
   
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <a href="" class="button_slide slide_down">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=bhamereronit@gmail.com" target="blank"> <i class="far fa-envelope" style="color: rgb(2, 120, 255);"></i></a>
                 
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-title" style="font-size: 20px; text-align: center; margin-right: 30px;">Send Email
                  <p>
                  <p class="card-category" style="text-align: center;margin-right: 30px;">You can communicate with patient from here.</p>
                </div>
              
              </div>
            </div>
          </div>
        </a>
    
  </div>
</div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <a href="" class="button_slide slide_down">

      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <a href="video" target="blank"><i class="fas fa-video" style="color: rgb(4, 238, 82);"></i></a>
              
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-title" style="font-size: 19px;  text-align: center;">Generate Meeting Link
              <p>
              <p class="card-category" style="text-align: center;margin-right: 30px;">Redirects you to meeting link page.</p>
            </div>
          </div>
        </div>
      </div>


</a>
</div>
</div>

</div>
  <form action="{{url_for('weekly_analysis')}}" method="POST">
  <div class="content">
    <div class="row">
      <a href="#">
        <div class="col-lg-12 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <p style="font-size: 25px;">Weekly questions for patients:</p>
                  <input type="text" id="nameip" name="questions" size="200" style="height: 100px; max-width: 70vh;"> <br> <br>
                  <input type="submit" value="Send Questions">
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <div class="stats">
                <i class="fa fa-refresh"></i>
              </div>
            </div>
      </a>
    </div>
  </form>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Weekly Analysis</h5>
            <p class="card-category">24 Hours performance</p>
          </div>
          <div class="card-body ">
           <img src="/static/graph/{{image}}" alt="">
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-history"></i> Summary
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br><br><br><br><br> <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
</body>

</html>